*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/* Header TOP */


.header-top{
    border-bottom: 1px solid #fdd444;
}
.header-top .container{
    display: flex;
    justify-content:space-evenly;
}
.social-menu{
    display: flex;
    list-style-type: none;
    font-size: 25px;
    margin-left: -130px;
}
.social-menu li{
    margin: 0px 10px;
}
.social-menu li a{
    color: black;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    top: 2px;
}
.switch input{
    display: none;
}
.switch .slider{
    background-color: rgb(243, 224, 224);
    position: absolute;
    inset: 0;
    transition: 0.6s;
    border-radius: 34px;
    cursor: pointer;
}
.switch .slider:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    left: 4px;
    top: 2px;
    border-radius: 50%;
    transition: 0.6s;
}
.switch input:checked + .slider{
    background-color: rgb(31, 28, 28);
}
.switch input:checked + .slider:before{
    transform: translateX(26px);
}


/* Header Menu */

.header-menu .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-left img{
    width: 200px;
}
.header-menu-center{
    margin: 0px 20px;
}
.megamenu .megamenu-level-1{
    display: flex;
    list-style-type: none;
}
.megamenu-level-1 > li{
    margin-left: 20px;
    text-transform: uppercase;
    position: relative;
    
}
.megamenu-level-1 li a{
    text-decoration: none;
    color: black;
}
.megamenu-level-1 li a:hover{
    text-decoration: none;
    color: #fdd444;
}

.level-2{
    position: absolute;
    list-style-type: none;
    z-index: 999;
    background-color: white;
    top: 33px;
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.1s;
    width: 150px;
    visibility: hidden;
}
.level-2 li{
    padding: 10px 20px 10px 10px;
    text-align: left;
    text-transform: uppercase;
}

.megamenu-level-1 li:hover .level-2{
    opacity: 1;
    visibility: visible;
}
.megamenu-level-1 li:hover .container-menu-level-2{
    opacity: 1;
    visibility: visible;
}

.container-menu-level-2{
    position: absolute;
    display: flex;
    background-color: white;
    z-index: 999;
    left: -400px;
    top: 35px;
    opacity: 0;
    transition: 0.6s;
    visibility: hidden;
}
.menu-level-2{
    margin: 30px;
}
.container-menu-level-2 .menu-level-2 ul{
    list-style-type: none;
}
.menu-level-2 ul li {
    margin-top: 20px;
}
.menu-level-2 a{
    position: relative;
}
.menu-level-2 a span{
    position: absolute;
    z-index: 9999;
    left: 30px;
    bottom: 80px;
    font-weight: bold;
}

.header-menu-right{
    display: flex;
    font-size: 25px;
}
.header-menu-right a{
    margin: 0 10px;
}
.header-account a, .header-cart a{
    color: black;
    transition: 0.3s;
}
.header-account a:hover, .header-cart a:hover{
    color: #fdd444;
}
.page-header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 5px 1px #dfd9d9;
}



/* footer */



.footer-top{
    width: 100%;
    height: 150px;
    background-color: #fdd444;
    display: flex;
    justify-content: center;
}
.footer-top .contain{
    max-width: 1200px;
    display: flex;
    align-items: center;
}
.footer-top .contain p{
    color: white;
    margin-right: 20px;
}

.footer-top .contain input[type="text"]{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #fff;
    outline: none;
    font-size: 15px;
    background-color: transparent;

}
.footer-top .contain button{
    margin-left: 30px;
    height: 40px;
    width: 80px;
    border: none;
    font-weight: bold;
}
.footer-main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-main .contain{
    display: flex;
    max-width: 1200px;
}
.footer-main .contain div{
    width: 300px;
    margin: 50px 0px;
    text-align: left;
    padding-left: 30px;
}
.footer-main .contain ul{
    list-style-type: none;
}


/* shopping cart */

.template-cart .container h2{
    text-align: center;
    margin: 50px 0px;
}
.cart-item-main{
    margin-right: 30px;
}
.cart-item{
    padding: 20px 0px;
}
.template-cart .container{
    max-width: 1200px;
    margin: 0 auto;
}
.shopping-cart{
    width: 100%;
}
.row{
    display: grid;
    grid-template-columns: 75% 25%;
}

.cart-note-wrap{
    display: grid;
    grid-column: 1/3;
}
.column-product-img{
    width: 190px;
}
.column-product-img img{
    width: 170px;
    height: 140px;
}
.column-product-info{
    width: 30%;
}
input[type="number"]{
    width: 100px;
    height: 40px;
    border: 1px solid #e4caca;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 10px;
}
input[type="number"]:focus{
    box-shadow: 0 0 1px 1px #000;
}
.money{
    color:#fdd444;
    font-weight: bold;
    font-size: 19px;
}
table{
    border-bottom: 1px solid #ebd0d0;
}


/* cart sidebar */

.cart-sidebar-header{
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}
.cart-sidebar-header p{
    margin-bottom: 10px;
}
.cart-sidebar-header button{
    width: 230px;
    height: 40px;
    color: white;
    background-color:#fdd444;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
}
.cart-sidebar-header button:hover{
    background-color: transparent;
    color: black;
    border: 2px solid black;
}
.cart-info-block{
    padding: 20px 30px;
    background-color: #f8f0f0cb;
    margin-top: 40px;
    border-radius: 5px;
    font-weight: 100;
    border: 1px solid rgb(228, 217, 217);
}

.cart-policy{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}
.cart-policy i{
    margin-right: 10px;
    margin-top: 10px;
}
.cart-note-wrap p{
    margin-bottom: 20px;
}
.cart-note-wrap a{
    margin: 30px 20px 100px 0;
    text-decoration: none;
    font-size: 20px;
}
.cart-note-wrap i{
    margin-right: 30px;
}
textarea{
    font-size: 20px;
    padding: 10px;
}