*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/* Header TOP */


.header-top{
    border-bottom: 1px solid #fdd444;
}
.header-top .container{
    display: flex;
    justify-content:space-evenly;
}
.social-menu{
    display: flex;
    list-style-type: none;
    font-size: 25px;
    margin-left: -130px;
}
.social-menu li{
    margin: 0px 10px;
}
.social-menu li a{
    color: black;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    top: 2px;
}
.switch input{
    display: none;
}
.switch .slider{
    background-color: rgb(243, 224, 224);
    position: absolute;
    inset: 0;
    transition: 0.6s;
    border-radius: 34px;
    cursor: pointer;
}
.switch .slider:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    left: 4px;
    top: 2px;
    border-radius: 50%;
    transition: 0.6s;
}
.switch input:checked + .slider{
    background-color: rgb(31, 28, 28);
}
.switch input:checked + .slider:before{
    transform: translateX(26px);
}


/* Header Menu */

.header-menu .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-left img{
    width: 200px;
}
.header-menu-center{
    margin: 0px 20px;
}
.megamenu .megamenu-level-1{
    display: flex;
    list-style-type: none;
}
.megamenu-level-1 > li{
    margin-left: 20px;
    text-transform: uppercase;
    position: relative;
    
}
.megamenu-level-1 li a{
    text-decoration: none;
    color: black;
}
.megamenu-level-1 li a:hover{
    text-decoration: none;
    color: #fdd444;
}

.level-2{
    position: absolute;
    list-style-type: none;
    z-index: 999;
    background-color: white;
    top: 33px;
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.1s;
    width: 150px;
    visibility: hidden;
}
.level-2 li{
    padding: 10px 20px 10px 10px;
    text-align: left;
    text-transform: uppercase;
}

.megamenu-level-1 li:hover .level-2{
    opacity: 1;
    visibility: visible;
}
.megamenu-level-1 li:hover .container-menu-level-2{
    opacity: 1;
    visibility: visible;
}

.container-menu-level-2{
    position: absolute;
    display: flex;
    background-color: white;
    z-index: 999;
    left: -400px;
    top: 35px;
    opacity: 0;
    transition: 0.6s;
    visibility: hidden;
}
.menu-level-2{
    margin: 30px;
}
.container-menu-level-2 .menu-level-2 ul{
    list-style-type: none;
}
.menu-level-2 ul li {
    margin-top: 20px;
}
.menu-level-2 a{
    position: relative;
}
.menu-level-2 a span{
    position: absolute;
    z-index: 9999;
    left: 30px;
    bottom: 80px;
    font-weight: bold;
}

.header-menu-right{
    display: flex;
    font-size: 25px;
}
.header-menu-right a{
    margin: 0 10px;
}
.header-account a, .header-cart a{
    color: black;
    transition: 0.3s;
}
.header-account a:hover, .header-cart a:hover{
    color: #fdd444;
}
.page-header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 5px 1px #dfd9d9;
}



/* footer */



.footer-top{
    width: 100%;
    height: 150px;
    background-color: #fdd444;
    display: flex;
    justify-content: center;
}
.footer-top .contain{
    max-width: 1200px;
    display: flex;
    align-items: center;
}
.footer-top .contain p{
    color: white;
    margin-right: 20px;
}

.footer-top .contain input[type="text"]{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #fff;
    outline: none;
    font-size: 15px;
    background-color: transparent;

}
.footer-top .contain button{
    margin-left: 30px;
    height: 40px;
    width: 80px;
    border: none;
    font-weight: bold;
}
.footer-main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-main .contain{
    display: flex;
    max-width: 1200px;
}
.footer-main .contain div{
    width: 300px;
    margin: 50px 0px;
    text-align: left;
    padding-left: 30px;
}
.footer-main .contain ul{
    list-style-type: none;
}




/* container product */

.container-product{
    max-width: 1200px;
    margin: 0 auto;
}
.single-product-img{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: column;
}

.single-product-info{
    padding: 40px;
}
.single-product-details h2{
    margin: 10px 0px;
}
.price{
    color:#fdd444;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0px;
}
.product-sort{
    margin: 10px 0px;
}
.product-quantity{
    margin: 20px 0px;
}
input[type="number"]{
    width: 90px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #dfd9d9;
    border-radius: 5px;
}
button[type="submit"]{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #fdd444;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
button[type="submit"] i, .single-product-wishlist i{
    padding-right: 10px;
}
button[type="submit"]:hover{
    background-color: transparent;
    box-shadow: 0 0 1px 1px black;
    color: black;
}
.product-collection a, .single-product-wishlist a{
    text-decoration: none;
    color: black;
}
.single-product-wishlist a{
    font-size: 20px;
}

.table-content-wrapper{
    padding: 0px 40px;
    margin-bottom: 100px;
}

#tab-description:checked ~ .product-delivery, #tab-description:checked ~ .product-review{
    display: none;
}
#tab-description:checked ~ .border-1{
    border: 1px solid #fdd444;
}
#tab-delivery:checked ~ .border-2{
    border: 1px solid #fdd444;
}
#tab-product-review:checked ~ .border-3{
    border: 1px solid #fdd444;
}
#tab-delivery:checked ~ .product-description, #tab-delivery:checked ~ .product-review{
    display: none;
}
#tab-product-review:checked ~ .product-description, #tab-product-review:checked ~ .product-delivery{
    display: none;
}
.customer-tab{
    padding: 10px 20px;
    cursor: pointer;
}
.gap-content{
    margin: 30px 0px;
    border-bottom: 1px solid #000;
}

input[type="radio"]{
    display: none;
}
.product-description ul, .product-delivery ul{
    list-style-type: decimal;
    margin-left: 20px;
}
.product-description p, .product-delivery p{
    margin: 10px 0px;
}
.product-review{
    padding: 30px;
    border: 1px solid black;
}
.star-review{
    margin-top: 20px;
}

.review-product{
    border-bottom: 1px solid #b39797;
    padding-bottom: 10px;
}
.user-review{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
.form-change input:checked ~ .form-review{
    display: none;
}
#form-check{
    display: none;
}
.form-change{
    position: relative;
}
.switch-form{
    position: absolute;
    right: 0px;
    top: -20px;
    cursor: pointer;
}
.form-review{
    display: flex;
    flex-direction: column ;
}
.form-review input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #dfd9d9;
    transition: 0.3s;
}
.form-review textarea{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #dfd9d9;
    transition: 0.3s;
}
.form-review input:focus , .form-review textarea:focus{
    border: 1px solid black;
}